gym==0.26.2
numpy==1.23.1
pandas==1.4.2
matplotlib==3.6.1
setuptools==65.5.0
wheel==0.37.1
snakeviz==2.1.1
graphviz==0.20.1
stable-baselines==2.10.2
arviz==0.13.0
seaborn==0.12.1
tensorflow==2.10.0
cmdstanpy==1.0.8