graphviz==0.20.1
gym[all]==0.21.0
numpy==1.21.6
swig
pyglet==1.5.27
snakeviz==2.1.1
seaborn==0.12.1
stable-baselines3==1.6.2
stable-baselines3[extra]
pygame
rl_zoo3
tensorboard
torch
torchvision
torchaudio